<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pagina 1 Con Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>

	<div class="container" th:fragment="galeria">
		<div class="row justify-content-center ">
			<div class="col-6 ">

				<div id="carouselExampleCaptions"
					class="carousel slide w-30 h-100 " data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleCaptions" data-slide-to="0"
							class="active"></li>
						<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
						<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a th:href="@{/medicos/listar?page=0&size=6}"><img
								th:src="@{/img/agente.jpg}" class="d-block w-100" alt="..."></a>
							<div class="carousel-caption d-none d-md-block">

								<p>Medicos</p>
							</div>
						</div>
						<div class="carousel-item">
							<a th:href="@{/pacientes/listar?page=0&size=6}"><img
								th:src="@{/img/via.jpg}" class="d-block w-100" alt="..."></a>
							<div class="carousel-caption d-none d-md-block">

								<p>Pacientes</p>
							</div>
						</div>
						<div class="carousel-item">
							<a th:href="@{/citas/listar?page=0&size=6}"><img
								th:src="@{/img/agente.jpg}" class="d-block w-100" alt="..."></a>
							<div class="carousel-caption d-none d-md-block">

								<p>Citas</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleCaptions"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span
						class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#carouselExampleCaptions"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>


			</div>
		</div>
	</div>





	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>